<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <div id="wrapper">
      <div class="container">
       <div class="form-group">
            <h1>Todo-List Apps With Vue</h1>
            <form>
            <input class="shadow-lg form-control" type="text" placeholder="Add List" name="itemName" >
            </form>
      </div>
      </div>
        
    
        <div id="button">
        <button onclick="alert('Data added successfully')" type="button" class="shadow-lg fa fa-plus btn btn-outline-success"></button>
        </div>
        <br/>

      <div class="container">
      <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Your ToDo List</th>
        </tr>
      </thead>
      <tbody id="tambah" >
        <tr>
          <td ></td>
        </tr>
      </tbody>
    </table>
    </div>

       
     

        
    </div>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  }
}
</script>

<script>
$(document).ready(
    function(){
        $('#button').click(
            function(){
                var add = $('input[name=itemName]').val();
                $('#tambah').append('<tr><td>' + add + '</td></tr>');
            });
       
       $("input[name=itemName]").keyup(function(event){
          if(event.keyCode == 13){
            $("#button").click();
          }         
      });
      

      $(document).on('dblclick','td', function(){
        alert('Data successfully deleted')
        $(this).toggleClass('strike').fadeOut('slow');    
      });



      
      $('input').focus(function() {
        $(this).val('');
      });
      
      $('#tbody').sortable();  
      
    }
);
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>


ol { padding-left: 20px;}
ol li { padding: 5px; color:#000;}
ol li:nth-child(even){ background: #63cdda; }
li:hover{ cursor: pointer; }

</style>
