<template>
  <div id="app">
    <div data-aos="flip-left">
    <img alt="Vue logo" src="./assets/logo.png">
    </div>
    <HelloWorld msg="Welcome to Your Vue.js App"/><br><br>
    <div class="container" >   
    <b-calendar block locale="en-US"></b-calendar>
    </div>
  </div>
</template>

<script>
import HelloWorld from './components/HelloWorld.vue'

export default {
  name: 'App',
  components: {
    HelloWorld
  }
}
</script>


<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
